<% hero_block 'text-center' do %>
  <h1>Welcome to MoocTool</h1>

  <p class="lead">Track stuff on moocs...</p>
<% end %>

<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <p>More info..</p>
  </div>
</div>
